h4{    
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    margin : 18px 0 10px 0;
}
h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin : 15px 0 10px 0;
    color: #A3A3A3
}
.clubboth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch2 {   
    appearance: none;
    width: 44px;
    height: 24px;
    display: inline-block;
    border-radius: calc(20px / 2);
    cursor: pointer;
    background-color: #cfd8dc;
    background-image: radial-gradient(
        circle calc(20px / 2.1),
        #fff 100%,
        #0000 0
      ),
      radial-gradient(circle calc(20px / 1.5), #0003 0%, #0000 100%);
    background-repeat: no-repeat;
    background-position: calc(20px / -1.75) 0;
    transition: background 0.2s ease-out;
  }
  .switch:checked {
    background-color: #EAEAEA;
    background-position: calc(20px / 1.75) 0;
  }
  
.tags{
    display: flex;
    justify-content: space-between;
    margin: 13px 0 18px 0;
}
.tag{
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    width: 92px;
    height:37px;
    background: #F9FAFB;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #a2a2a2;
}
.tag.active{
    background: #FCEB74;
    border: 1px solid #FED700;
    color:black;
}
.hint{
    display: flex;
    flex-direction: row-reverse;
    margin: 18px 0 10px 0;
}