.head .HeaderClub{
    display: flex;
    justify-content: space-between;
}
.head .CloseImg{
    object-fit: contain;
    margin-top: -30px;
}
.head .heading{
    margin-top: 5px; 
    display: flex;
}
.head .heading2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #808080;
}
.head .heading2 span{
    padding-left:6px;
    padding-right:12px;
}
 .display1{
    width:97%;
    height:60px;
    background: #F9FAFB;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    margin-bottom: 9px;
    text-align:right;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #070602;
    padding-right: 10px;
}
.head .switch {
    appearance: none;
    width: 24px;
    height: 14px;
    display: inline-block;
    border-radius: calc(10px / 2);
    cursor: pointer;
    background-color: #F8C400;
    background-image: radial-gradient(
        circle calc(10px / 2.1),
        #fff 100%,
        #0000 0
      ),
      radial-gradient(circle calc(10px / 1.5), #0003 0%, #0000 100%);
    background-repeat: no-repeat;
    background-position: calc(10px / -1.75) 0;
    transition: background 0.2s ease-out;
  }
  .switch:checked {
    background-color: #cfd8dc;
    background-position: calc(10px / 1.75) 0;
  }
.head .tag{
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    width: 92px;
    height:36px;
    background: #F9FAFB;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
}
.head .tags{
    margin: 0px;
    display: flex;
}
.head .tag.space{
    margin: 0px 10px;
}
.head .tag.active{ 
 padding-left:0px;
 padding-right: 0px; 
 background-color:#FFF9AA;
}
.head .club{
    display:flex;
    justify-content: space-between;   
}
.head .approx{
    margin-top: -4px;
    color: #A8A8A8;
}

