body{
  font-family: 'Poppins';
  font-style: normal;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  border:2px solid black;
  width: 484px;
  margin: 0 auto;
  border-radius: 15px;
  padding:25px;
  
}
